@import "tailwindcss";

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #1d1f27;
}
::-webkit-scrollbar-thumb {
  background: #30333b;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #f39c12;
}